html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption,
figure,
main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1.42857143;
  -webkit-tap-highlight-color: transparent;
}
body {
  background: #fff;
  color: #50596c;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
a {
  color: #5764c6;
  text-decoration: none;
}
a:focus,
a:hover,
a:active,
a.active {
  color: #3b49af;
  text-decoration: underline;
}
:focus {
  box-shadow: 0 0 0 .2rem rgba(87, 100, 198, .15);
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 0;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.6rem;
}
p {
  line-height: 2.4rem;
  margin: 0 0 1rem;
}
a,
ins,
u {
  -webkit-text-decoration-skip: ink edges;
  text-decoration-skip: ink edges;
}
blockquote {
  border-left: .2rem solid #f0f1f4;
  margin-left: 0;
  padding: 1rem 2rem;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote cite {
  color: #acb3c2;
}
ul,
ol {
  margin: 2rem 0 2rem 2rem;
  padding: 0;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin: 1.5rem 0 1.5rem 2rem;
}
ul li,
ol li {
  margin-top: 1rem;
}
ul {
  list-style: disc inside;
}
ul ul {
  list-style-type: circle;
}
ol {
  list-style: decimal inside;
}
ol ol {
  list-style-type: lower-alpha;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin: .5rem 0 1.5rem 0;
}
mark {
  background: #ffe9b3;
  border-radius: .2rem;
  color: #50596c;
  display: inline-block;
  line-height: 1;
  padding: .3rem .4rem;
  vertical-align: baseline;
}
kbd {
  background: #454d5d;
  border-radius: .2rem;
  color: #fff;
  display: inline-block;
  line-height: 1;
  padding: .3rem .4rem;
  vertical-align: baseline;
}
abbr[title] {
  border-bottom: .1rem dotted;
  cursor: help;
  text-decoration: none;
}    
