.toast {
  background: rgba(69, 77, 93, .9);
  border: .1rem solid #454d5d;
  border-color: #454d5d;
  border-radius: .2rem;
  color: #fff;
  display: block;
  padding: 1rem;
  width: 100%;
}
.toast.toast-primary {
  background: rgba(87, 100, 198, .9);
  border-color: #5764c6;
}
.toast.toast-success {
  background: rgba(50, 182, 67, .9);
  border-color: #32b643;
}
.toast.toast-danger {
  background: rgba(232, 86, 0, .9);
  border-color: #e85600;
}
.toast a {
  color: #fff;
  text-decoration: underline;
}
.toast a:focus,
.toast a:hover,
.toast a:active,
.toast a.active {
  opacity: .75;
}

